.write-btn {
  background-color: gray !important;
  width: 150px !important;
  position: fixed;
  height: 150px;
  border: 1px solid gray(124, 49, 49);
  padding: 5px;
  border-radius: 50% !important;
  bottom: 5em;
  right: 3em;
}
