.write-btn {
  background-color: gray !important;
  width: 120px !important;
  position: fixed;
  height: 120px;
  border: 1px solid gray(124, 49, 49);
  padding: 5px;
  border-radius: 50% !important;
  bottom: 0em;
  right: 0em;
}

.a:link {
  color: pink;
}
.a:visited {
  color: pink;
}
.a:hover {
  color: white;
}
.a:active {
  color: white;
}
